In [1]:
import pandas as pd
import top10
import dummies

In [2]:
df_demografico = pd.read_csv('1_demografico.csv', sep=';')

In [3]:
df_renda_gastos = pd.read_csv('2_renda_gastos.csv', sep=';')

In [4]:
df_bens = pd.read_csv('3_bens.csv', sep=';')

In [5]:
df = df_demografico.merge(df_renda_gastos, on=['ID', 'Region'], how='outer')

In [6]:
df = df.merge(df_bens, left_index=True, right_index=True)

In [7]:
df

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,...,0,1,0,0,0,4,0,0,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,...,1,0,0,0,0,1,0,0,0,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,...,0,0,0,0,0,3,0,0,0,1
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,...,0,0,0,0,0,4,0,0,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,...,1,0,0,0,0,0,0,1,0,1

6) Separe os 10% com maior renda(Ordem decrescente) em um novo csv

In [8]:
top10.salvar_top10(df, 'Total Household Income', 'top10_income.csv')

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
3860,354,C,Other sources of Income,0,Male,55,Married,Employer in own family-operated farm or business,Single Family,5,...,1,1,3,4,0,5,4,1,0,2
3513,7,C,Other sources of Income,0,Male,55,Married,Employer in own family-operated farm or business,Extended Family,8,...,2,0,4,2,1,8,4,1,0,2
29329,1760,L,Enterpreneurial Activities,0,Male,45,Married,Employer in own family-operated farm or business,Extended Family,5,...,1,1,3,4,2,8,4,2,0,1
21291,596,I,Enterpreneurial Activities,0,Male,46,Married,Self-employed wihout any employee,Single Family,3,...,1,1,1,2,0,4,2,1,0,3
35476,3222,N,Enterpreneurial Activities,2,Male,75,Widowed,Employer in own family-operated farm or business,Single Family,7,...,2,2,5,3,1,5,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,1106,C,Enterpreneurial Activities,0,Female,61,Widowed,Employer in own family-operated farm or business,Single Family,3,...,1,1,1,1,1,7,1,0,0,0
33528,1274,N,Wage/Salaries,2,Male,30,Married,Worked for government/government corporation,Single Family,3,...,1,1,0,0,0,2,1,0,0,0
32881,627,N,Wage/Salaries,2,Male,80,Married,NaN,Single Family,5,...,1,1,0,0,0,3,1,0,0,0
29746,2177,L,Other sources of Income,0,Male,54,Married,Worked for government/government corporation,Single Family,4,...,0,1,0,0,0,2,0,0,0,1
36169,3915,N,Wage/Salaries,2,Male,46,Married,Worked for private establishment,Extended Family,6,...,0,1,0,0,0,3,0,0,0,0

7) Criar os dummies para pelo menos 3 das variáveis qualitativas

In [9]:
df.select_dtypes(include='object').columns

Index(['Region', 'Main Source of Income', 'Household Head Sex',
       'Household Head Marital Status', 'Household Head Class of Worker',
       'Type of Household', 'Type of Building/House', 'Type of Walls'],
      dtype='object')

In [10]:
#retornar apenas as colunas dummies
dummies.criar_dummies(df, ['Main Source of Income', 'Household Head Sex', 'Type of Household'])

,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Household Head Sex_Female,Household Head Sex_Male,Type of Household_Extended Family,Type of Household_Single Family,Type of Household_Two or More Nonrelated Persons/Members
0,0,0,1,1,0,1,0,0
1,0,0,1,0,1,0,1,0
2,0,0,1,0,1,0,1,0
3,0,0,1,0,1,0,1,0
4,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...
41539,1,0,0,0,1,1,0,0
41540,0,0,1,0,1,0,1,0
41541,1,0,0,0,1,0,1,0
41542,1,0,0,0,1,1,0,0
41543,0,1,0,1,0,1,0,0

In [12]:
#retornar todo o dataframe com as dummies
dummies.criar_dummies(df, ['Main Source of Income', 'Household Head Sex', 'Type of Household'], True)

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Motorized Banca,Number of Motorcycle/Tricycle,Main Source of Income_Enterpreneurial Activities,Main Source of Income_Other sources of Income,Main Source of Income_Wage/Salaries,Household Head Sex_Female,Household Head Sex_Male,Type of Household_Extended Family,Type of Household_Single Family,Type of Household_Two or More Nonrelated Persons/Members
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,0,1,0,0,1,1,0,1,0,0
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,2,0,0,1,0,1,0,1,0
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,1,0,1,0,1,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,1,0,1,0,1,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,0,1,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41539,1784,Q,Enterpreneurial Activities,2,Male,62,Married,Employer in own family-operated farm or business,Extended Family,6,...,0,0,1,0,0,0,1,1,0,0
41540,1785,Q,Wage/Salaries,2,Male,55,Married,Worked for private establishment,Single Family,5,...,0,0,0,0,1,0,1,0,1,0
41541,1786,Q,Enterpreneurial Activities,2,Male,51,Married,Employer in own family-operated farm or business,Single Family,7,...,0,1,1,0,0,0,1,0,1,0
41542,1787,Q,Enterpreneurial Activities,2,Male,30,Married,Self-employed wihout any employee,Extended Family,12,...,0,0,1,0,0,0,1,1,0,0
41543,1788,Q,Other sources of Income,2,Female,42,Single,Self-employed wihout any employee,Extended Family,5,...,0,1,0,1,0,1,0,1,0,0